<%- include('../layouts/user/header'); -%>
<!-- END HEADER SECTION -->
<!-- START SLIDER SECTION -->
<div class="home-slider-section section">
  <!-- Home Slider -->
  <div id="home-slider" class="slides">
    <img src="images\slider\1.jpeg" alt="" title="#slider-caption-1" />
    <img src="images\slider\2.jpeg" alt="" title="#slider-caption-2" />
  </div>
  <!-- Caption 1 -->
  <div id="slider-caption-1" class="nivo-html-caption">
    <div class="container">
      <div class="row">
        <div class="hero-slider-content col-sm-8 col-xs-12">
          <h1 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
            Awesome Dsr Chair
          </h1>
          <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
            There are many variations of passages of Lorem Ipsum available, but
            the majority have suffered alteration in some form, by injected
            humour,
          </p>
          <a
            href="product-details.html"
            class="wow fadeInUp"
            data-wow-duration="1s"
            data-wow-delay="1.5s"
            >shop now</a
          >
        </div>
      </div>
    </div>
  </div>
  <!-- Caption 2 -->
  <div id="slider-caption-2" class="nivo-html-caption">
    <div class="container">
      <div class="row">
        <div class="hero-slider-content col-sm-8 col-xs-12">
          <h1 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
            Arc Floor Lamp
          </h1>
          <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
            There are many variations of passages of Lorem Ipsum available, but
            the majority have suffered alteration in some form, by injected
            humour,
          </p>
          <a
            href="product-details.html"
            class="wow fadeInUp"
            data-wow-duration="1s"
            data-wow-delay="1.5s"
            >shop now</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END SLIDER SECTION -->

<!-- PRODUCT SECTION START -->
<div class="product-section section pt-120 pb-120">
  <div class="container">
    <div class="row">
      <!-- Isotop Product Filter -->
      <div class="isotope-product-filter col-xs-8">
        <a style="margin-right: 6px;" href="/products?page=1&category=1"
          >Nước hoa nam</a
        >
        <a href="/products?page=1&category=2">Nước hoa nữ</a>
      </div>
      <!-- Product Filter Toggle -->
      <div class="col-xs-4">
        <a class="product-filter-toggle" href="/products">Xem thêm</a>
      </div>
    </div>

    <div class="isotope-grid row">
      <% if (products) { %> <% products.forEach(product => { %>
      <!-- Product Item Start -->
      <div
        class="isotope-item chair home-decor col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-50"
      >
        <div class="product-item text-center">
          <!-- Product Image -->
          <div class="product-img">
            <!-- Image -->
            <a class="image" href="/products/<%= product.slug %>"
              ><img
                height="200"
                width="100%"
                style="object-fit: cover; object-position: center;"
                src="/uploads/<%= product.images[0] %>"
                alt="<%= product.name %>"
            /></a>
            <!-- Action Button -->
            <div class="action-btn fix">
              <a
                href="#"
                data-toggle="modal"
                data-target="#quickViewModal"
                title="Xem nhanh"
                ><i class="pe-7s-look"></i>Xem</a
              >
              <a href="#" title="Thêm vào giỏ hàng"
                ><i class="pe-7s-cart"></i>Thêm vào giỏ hàng</a
              >
            </div>
          </div>
          <!-- Portfolio Info -->
          <div class="product-info text-left">
            <!-- Title -->
            <h5 class="title">
              <a href="/products/<%= product.slug %>"><%= product.name %></a>
            </h5>
            <!-- Price Ratting -->
            <div class="price-ratting fix">
              <span class="price float-left"
                ><span class="new"><%= product.price %></span></span
              >
              <span class="ratting float-right">
                <i class="fa fa-star active"></i>
                <i class="fa fa-star active"></i>
                <i class="fa fa-star active"></i>
                <i class="fa fa-star active"></i>
                <i class="fa fa-star active"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <!-- Product Item End -->
      <% }) %> <% } %>
    </div>

    <div class="row">
      <div class="text-center col-xs-12 mt-30">
        <a href="/products" class="btn load-more-product">Xem thêm</a>
      </div>
    </div>
  </div>
</div>
<!-- PRODUCT SECTION END -->

<!-- QUICK VIEW MODAL START-->
<div id="quickViewModal" class="modal fade">
  <div class="container">
    <div class="modal-content row">
      <div class="modal-body">
        <button class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
        <!-- QuickView Product Images -->
        <div class="col-md-5 col-sm-6 col-xs-12 mb-40">
          <!-- Tab panes -->
          <div class="tab-content mb-10">
            <div class="pro-large-img tab-pane active" id="pro-large-img-1">
              <img src="images\product\2.jpeg" alt="" />
            </div>
            <div class="pro-large-img tab-pane" id="pro-large-img-2">
              <img src="images\product\1.jpeg" alt="" />
            </div>
            <div class="pro-large-img tab-pane" id="pro-large-img-3">
              <img src="images\product\3.jpeg" alt="" />
            </div>
            <div class="pro-large-img tab-pane" id="pro-large-img-4">
              <img src="images\product\4.jpeg" alt="" />
            </div>
            <div class="pro-large-img tab-pane" id="pro-large-img-5">
              <img src="images\product\5.jpeg" alt="" />
            </div>
          </div>
          <!-- QuickView Product Thumbnail Slider -->
          <div class="pro-thumb-img-slider">
            <div>
              <a href="#pro-large-img-1" data-toggle="tab"
                ><img src="images\product\2.jpeg" alt=""
              /></a>
            </div>
            <div>
              <a href="#pro-large-img-2" data-toggle="tab"
                ><img src="images\product\1.jpeg" alt=""
              /></a>
            </div>
            <div>
              <a href="#pro-large-img-3" data-toggle="tab"
                ><img src="images\product\3.jpeg" alt=""
              /></a>
            </div>
            <div>
              <a href="#pro-large-img-4" data-toggle="tab"
                ><img src="images\product\4.jpeg" alt=""
              /></a>
            </div>
            <div>
              <a href="#pro-large-img-5" data-toggle="tab"
                ><img src="images\product\5.jpeg" alt=""
              /></a>
            </div>
          </div>
        </div>
        <!-- QuickView Product Details -->
        <div class="col-md-7 col-sm-6 col-xs-12 mb-40">
          <div class="product-details section">
            <!-- Title -->
            <h1 class="title">DSR Eiffel chair</h1>
            <!-- Price Ratting -->
            <div class="price-ratting section">
              <!-- Price -->
              <span class="price float-left"
                ><span class="new">€ 120.00</span></span
              >
              <!-- Ratting -->
              <span class="ratting float-right">
                <i class="fa fa-star active"></i>
                <i class="fa fa-star active"></i>
                <i class="fa fa-star active"></i>
                <i class="fa fa-star active"></i>
                <i class="fa fa-star active"></i>
                <span> (01 Customer Review)</span>
              </span>
            </div>
            <!-- Short Description -->
            <div class="short-desc section">
              <h5 class="pd-sub-title">Quick Overview</h5>
              <p>
                There are many variations of passages of Lorem Ipsum avaable, b
                majority have suffered alteration in some form, by injected
                humour, or randomised words which don't look even slightly
                believable. make an ami jani na.
              </p>
            </div>
            <!-- Product Size -->
            <div class="product-size section">
              <h5 class="pd-sub-title">Select Size</h5>
              <button>s</button>
              <button class="active">m</button>
              <button>x</button>
              <button>xl</button>
            </div>
            <!-- Product Color -->
            <div class="color-list section">
              <h5 class="pd-sub-title">Select Color</h5>
              <button class="active" style="background-color: #51bd99;">
                <i class="fa fa-check"></i>
              </button>
              <button style="background-color: #ff7a5f;">
                <i class="fa fa-check"></i>
              </button>
              <button style="background-color: #baa6c2;">
                <i class="fa fa-check"></i>
              </button>
              <button style="background-color: #414141;">
                <i class="fa fa-check"></i>
              </button>
            </div>
            <!-- Quantity Cart -->
            <div class="quantity-cart section">
              <div class="product-quantity">
                <input type="text" value="0" />
              </div>
              <button class="add-to-cart">add to cart</button>
            </div>
            <!-- Usefull Link -->
            <ul class="usefull-link section">
              <li>
                <a href="#"><i class="pe-7s-mail"></i> Email to a Friend</a>
              </li>
              <li>
                <a href="#"><i class="pe-7s-like"></i> Wishlist</a>
              </li>
              <li>
                <a href="#"><i class="pe-7s-print"></i> print</a>
              </li>
            </ul>
            <!-- Share -->
            <div class="share-icons section">
              <span>share :</span>
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-instagram"></i></a>
              <a href="#"><i class="fa fa-pinterest"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- QUICK VIEW MODAL END-->

<!-- FOOTER TOP SECTION START -->
<%- include('../layouts/user/footer'); -%>
