<%- include('../layouts/user/header.ejs'); -%>
<!-- END HEADER SECTION -->

<!-- PAGE BANNER SECTION -->
<div class="page-banner-section section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="page-banner-content">
          <h1>Sản phẩm</h1>
          <ul class="breadcrumb">
            <li><a href="/">Trang chủ</a></li>
            <li class="active">Sản phẩm</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END PAGE BANNER SECTION -->

<!-- PAGE SECTION START -->
<div class="page-section section pt-120 pb-120">
  <div class="container">
    <div class="row">
      <!-- Isotop Product Filter -->
      <div class="isotope-product-filter col-xs-8">
        <div class="container">
          <button class="active" data-filter="*"> <a href="/products?page=1"> Nước hoa nam</button></a>
          <button data-filter=".chair"> <a href="/products?page=2"> Nước hoa nữ</button></a>
        </div>
      </div>
    </div>    <!-- Product Filter Wrapper -->
  
    <div class="isotope-grid row">
      <% if (products.length > 0) { %> <% products.forEach(product => { %>
      <div
        class="isotope-item chair home-decor col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-50"
      >
        <div class="product-item product-item-2 text-center">
          <!-- Product Image -->
          <div class="product-img">
            <!-- Image -->
            <a class="image" href="/products/<%= product.slug %>"
              ><img
                height="200"
                width="100%"
                style="object-fit: cover; object-position: center;"
                src="/uploads/<%= product.images[0] %>"
                alt="<%= product.name %>"
            /></a>
            <!-- Action Button -->
            <div class="action-btn-2">
              <a href="/products/<%= product.slug %>" title="Thêm vào giỏ hàng"
                ><i class="pe-7s-cart" ></i
              ></a>
              <a
                href="#"
                data-toggle="modal"
                data-target="#quickViewModal<%= product.id %>"
                title="Quick View"
                ><i class="pe-7s-look"></i
              ></a>
            </div>
          </div>
          <!-- Portfolio Info -->
          <div class="product-info">
            <!-- Title -->
            <h5 class="title">
              <a href="/products/<%= product.slug %>"><%= product.name %></a>
            </h5>
            <!-- Price -->
            <div class="price-ratting fix">
              <span class="price"
                ><span class="new"><%= product.price %></span></span
              >
            </div>
          </div>
        </div>
      </div>
      <% }) %> <% } %>
    </div>

    <div class="row">
      <div class="text-center col-xs-12 mt-30">
        <ul class="pagination">
          <li class="active">
            <a href="/products?page=1">1 <span class="sr-only">(current)</span></a>
          </li>
          <li>
            <a href="/products?page=2">2</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- PAGE SECTION END -->

<!-- QUICK VIEW MODAL START-->
<% if (products.length > 0) { %> <% products.forEach(product => { %>
<div id="quickViewModal<%= product.id %>" class="modal fade">
  
  <div class="container">
    
    <div class="modal-content row">
      <div class="modal-body">
        <button class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
        <!-- QuickView Product Images -->
        <div class="col-md-5 col-sm-6 col-xs-12 mb-40">
          <!-- Tab panes -->
          <a class="image" href="/products/<%= product.slug %>"
            ><img
              height="400px", 
              width="400px"
              style="object-fit: cover; object-position: center;"
              src="/uploads/<%= product.images[0] %>"
              alt="<%= product.name %>"
          /></a>
          <!-- QuickView Product Thumbnail Slider -->
          <div class="pro-thumb-img-slider">
            <div>
              <a href="#pro-large-img-1" data-toggle="tab"
                ><img src="images\product\19.jpeg" alt=""
              /></a>
            </div>
            <div>
              <a href="#pro-large-img-2" data-toggle="tab"
                ><img src="images\product\18.jpeg" alt=""
              /></a>
            </div>
            <div>
              <a href="#pro-large-img-3" data-toggle="tab"
                ><img src="images\product\20.jpeg" alt=""
              /></a>
            </div>
            <div>
              <a href="#pro-large-img-4" data-toggle="tab"
                ><img src="images\product\22.jpeg" alt=""
              /></a>
            </div>
            <div>
              <a href="#pro-large-img-5" data-toggle="tab"
                ><img src="images\product\23.jpeg" alt=""
              /></a>
            </div>
          </div>
        </div>
        <!-- QuickView Product Details -->
        <div class="col-md-7 col-sm-6 col-xs-12 mb-40">
          <div class="product-details section">
            <!-- Title -->
            <h5 class="title">
              <a ><%= product.name %></a>
            </h5>
            <!-- Price Ratting -->
            <div class="price-ratting section">
              <!-- Price -->
              <span class="price float-left"
                ><span class="new"><%= product.price %> </span></span
              >
              <!-- Ratting -->
              <span class="ratting float-right">
                <i class="fa fa-star active"></i>
                <i class="fa fa-star active"></i>
                <i class="fa fa-star active"></i>
                <i class="fa fa-star active"></i>
                <i class="fa fa-star active"></i>
                <span> (01 Customer Review)</span>
              </span>
            </div>
            <!-- Short Description -->
            <div class="short-desc section">
              <h5 class="pd-sub-title">Mô tả</h5>
              <p><%= product.description  %> 
              </p>
            </div>
            <!-- Quantity Cart -->
            <div class="quantity-cart section">
              <div class="product-quantity">
                <input type="text" value="1" />
              </div>
              <button class="add-to-cart" data-id= <%= product.id  %>>Thêm vào giỏ hàng</button>
            </div>
            <!-- Share -->
            <div class="share-icons section">
              <span>share :</span>
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-youtube"></i></a>
              <a href="#"><i class="fa fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% }) %> <% } %>
<!-- QUICK VIEW MODAL END-->

<%- include('../layouts/user/footer.ejs'); -%>
