<%- include('../layouts/user/header'); -%>
<!-- PAGE BANNER SECTION -->
<div class="page-banner-section section">
  <div class="container">
      <div class="row">
          <div class="col-xs-12">
              <div class="page-banner-content">
                  <h1>Sản phẩm <%= product.name %></h1>
                  <ul class="breadcrumb">
                      <li><a href="/">Trang chủ</a></li>
                      <li class="active">Sản phẩm</li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- END PAGE BANNER SECTION -->
  
<!-- PAGE SECTION START -->
<div class="page-section section pt-120 pb-120">
  <div class="container">
      <div class="row mb-40">
          <!-- Single Product Images -->
          <div class="col-md-5 col-sm-6 col-xs-12 mb-40">	
              <!-- Tab panes -->
              <div class="tab-content mb-10">
                  <% if (product.images.length > 0) { %>
                    <% for( let i = 0; i < product.images.length; i++ ) { %>
                        <div class="pro-large-img tab-pane <%= i === 0 ? "active" : "" %>" id="pro-large-img-<%= i %>">
                            <img src="/uploads/<%= product.images[i] %>">
                        </div>
                    <% } %>
                  <% } %>
              </div>
              <!-- Single Product Thumbnail Slider -->
              <div class="pro-thumb-img-slider">
                <% if (product.images.length > 0) { %>
                    <% for( let i = 0; i < product.images.length; i++ ) { %>
                        <div><a href="#pro-large-img-<%= i %>" data-toggle="tab"><img src="/uploads/<%= product.images[i] %>"></a></div>
                    <% } %>
                  <% } %>
              </div>
          </div>
          <!-- Single Product Details -->
          <div class="col-md-7 col-sm-6 col-xs-12 mb-40">
              <div class="product-details section">
                  <!-- Title -->
                  <h1 class="title"><%= product.name %></h1>
                  <!-- Price Ratting -->
                  <div class="price-ratting section">
                      <!-- Price -->
                      <span class="price float-left"><span class="new">Giá: <%= product.price %></span></span>
                      <!-- Ratting -->
                      <span class="ratting float-right">
                          <i class="fa fa-star active"></i>
                          <i class="fa fa-star active"></i>
                          <i class="fa fa-star active"></i>
                          <i class="fa fa-star active"></i>
                          <i class="fa fa-star active"></i>
                          <span> (01 Customer Review)</span>
                      </span>
                  </div>
                  <div class="section" style="margin-bottom: 34px;">
                      <span style="margin-right: 12px;">Mã sản phẩm: <%= product.code %></span>
                      <span>Còn trong kho: <%= product.inStock %></span>
                  </div>
                  <!-- Short Description -->
                  <div class="short-desc section">
                      <h5 class="pd-sub-title">Mô tả</h5>
                      <p><%= product.description %></p>
                  </div>
                  <!-- Quantity Cart -->
                  <div class="quantity-cart section">
                      <div class="product-quantity">
                          <input type="text" value="0">
                      </div>
                      <button class="add-to-cart">Thêm vào giỏ hàng</button>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <!-- Nav tabs -->
          <div class="col-xs-12">
              <ul class="pro-info-tab-list section">
                  <li class="active"><a href="#tab-rating" data-toggle="tab">Đánh giá</a></li>
              </ul>
          </div>
          <!-- Tab panes -->
          <div class="tab-content col-xs-12">
              <div class="tab-pane active" id="tab-rating">
                <% if (ratings.length > 0) { %>
                    <% ratings.forEach(rating => { %>
                        <div class="media">
                            <div class="media-left">
                                <img class="media-object" src="/uploads/<%= rating.User.avatar %>">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"><%= rating.User.name %></h4>
                                <i><%= dateTimeFilter(rating.createdAt) %></i>
                                <div>
                                    <%= rating.scores %> <i class="fa fa-star"></i> - <%= rating.content %>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                <% } %>
              </div>
          </div>		
      </div>
  </div>
</div>
<!-- PAGE SECTION END -->
<%- include('../layouts/user/footer'); -%>