<%- include('../layouts/user/header.ejs'); -%>

<div class="page-banner-section section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="page-banner-content">
          <h1>Trang cá nhân</h1>
          <ul class="breadcrumb">
            <li><a href="/">Trang chủ</a></li>
            <li class="active">Trang cá nhân</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="container">
    <div class="page-section section pt-120 pb-120">
      <div class="container">
          <div class="row">
              <div class="col-md-8 col-md-offset-2 col-xs-12">
                  <div class="login-reg-form">
                      <form action="#">
                        <% if (locals.currentUser) { %>
                        <div class="form-group" >
                          
                          <div style="display: flex; justify-content: center;">
                          <img src="<%= locals.currentUser.avatar %> " width="200px", height="200px" alt="">
                        </div>
                          <label for="exampleFormControlFile1">Ảnh</label>
                          <input type="file" class="form-control-file"  id="exampleFormControlFile1">
                        </div>
                          <div class="row">
                              <div class="col-sm-6 col-xs-12 mb-20">
                                  <label for="r_f_name">Tên <span class="required">*</span></label>										
                                  <input id="r_f_name" type="text"value="<%= locals.currentUser.name %>">
                              </div>
                              <div class="col-sm-6 col-xs-12 mb-20">
                                  <label for="r_email">Email <span class="required">*</span></label>										
                                  <input id="r_email" type="email" value="<%= locals.currentUser.email %>">
                              </div>
                              <div class="col-sm-6 col-xs-12 mb-20">
                                  <label for="r_phone">Số điện thoại  <span class="required">*</span></label>										
                                  <input id="r_phone" type="text" value="<%= locals.currentUser.phoneNumber %>">
                              </div>
                             
                              <div class="col-xs-12 mb-20">
                                  <label>Địa chỉ <span class="required">*</span></label>
                                  <input type="text" value="<%= locals.currentUser.address %>">
                              </div>
                              <div class="col-sm-6 col-xs-12 mb-20">
                                <label for="r_phone">Mật khẩu  <span class="required">*</span></label>										
                                <input id="r_phone" type="password" value="<%= locals.currentUser.password %>" disabled>
                            </div>
                            <div class="col-sm-6 col-xs-12 mb-20">
                              <label for="r_phone">Nhập lại mật khẩu  <span class="required">*</span></label>										
                              <input id="r_phone" type="password"  value="<%= locals.currentUser.password %>"  disabled> 
                          </div>
                              <div class="col-xs-6">
                                  <input value="Chỉnh sửa" type="submit">
                              </div>
                              <div class="col-xs-6">
                                <input value="Lưu" type="submit">
                            </div>
                          </div>
                      </form>
                      <% } %>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </div>
</div>
<%- include('../layouts/user/footer'); -%>
