<div class="all-cart-product clearfix" count-cart="<%= count%>">
  <% if (result) { %> <% result.forEach(product => { %>
  <div class="single-cart clearfix">
    <div class="cart-image">
      <img src="<%=product.image%>" alt="" />
    </div>
    <div class="cart-info">
      <h5>
      <%= product.name%>
      </h5>
      <p><%= product.qty%> x <%= product.price%></p>
      <a
        href="#"
        class="cart-delete"
        data-id="<%= product.id%>"
        title="Remove this item"
        ><i class="pe-7s-trash"></i
      ></a>
    </div>
  </div>
  <% }) %> <% } %>

  <!-- Cart Total -->
  <div class="cart-totals">
    <h5>Total <span><%=total%></span></h5>
  </div>
  <!-- Cart Button -->
  <div class="cart-bottom clearfix">
    <a href="/checkout">Thanh toán</a>
  </div>
</div>
